#banner {
    width: 100%;
    height: 200px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
  }
  
  #banner-text {
    font-size: 48px;
    color: #333;
    text-align: center;
    margin: 0;
  }
  
  #banner-link {
    display: block;
    width: 100vw;
    position: absolute;
    height: 200px;
  }
  
  #banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }