#banner {
    max-width: 70vw;
    min-width: 30vw;
    height: 300px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
  }
  
  #banner-text {
    font-size: 48px;
    color: #333;
    text-align: center;
    margin: 0;
  }
  
  #banner-link {
    display: block;
    width: 100vw;
    position: absolute;
    height: 200px;
  }
  
  #banner-image {
    width: 80%;
    height: 80%;
    object-fit: cover;
  }

  .hide{
    display: none;
  }